@media (min-width: 1800px) {
  html {
    font-size: 75%;
  }
  .nav {
    padding: 2.1rem 2.6rem;
  }
  .header {
    left: 20.2rem;
  }
}

@media (max-width: 1200px) {
  .header {
    left: 0;
  }
  .wrapper {
    max-width: 100%;
    margin-left: 4%;
    margin-right: 4%;
  }

  .home-projects {
    padding-top: 14%;
  }
}

@media (max-width: 900px) {
  html {
    font-size: 62.5%;
  }
  .header {
    left: 0;
  }
  .wrapper {
    max-width: 100%;
    margin-left: 4%;
    margin-right: 4%;
  }
  .home__container {
    padding-top: 34%;
  }
  .about__container,
  .skills__container {
    flex-direction: column;
    gap: 0;
  }
  .contact__title {
    font-size: 3.8rem;
  }
  #projects-container {
    grid-template-columns: repeat(2, minmax(0, 1fr));
    gap: 2rem;
    justify-content: center;
  }
  .home-projects {
    padding-top: 20%;
  }
}

@media (max-width: 600px) {
  html {
    font-size: 68.75%;
  }
  .header {
    left: 0;
  }
  .nav {
    padding-left: 2.4rem;
  }
  .wrapper {
    max-width: 100%;
    margin-left: 6%;
    margin-right: 6%;
  }

  .home__container {
    padding-top: 90%;
  }
  .about__container,
  .skills__container {
    flex-direction: column;
    gap: 0;
  }

  .nav__items {
    flex-wrap: wrap;
    gap: 2rem 6rem;
  }
  .about__title {
    margin-top: 2rem;
  }
  .about__desc {
    background-color: white;
  }
  .contact__container {
    flex-direction: column;
    padding: 1.2rem;
  }
  .contact__title {
    font-size: 4rem;
    width: 100%;
  }
  .contact__form {
    width: 100%;
  }
  .footer__text {
    flex-wrap: wrap;
    justify-content: center;
  }
  #projects-container {
    grid-template-columns: repeat(1, minmax(0, 1fr));
  }
  .home-projects {
    padding-top: 60%;
  }
  #search {
    min-width: 100%;
  }
}
